    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Management System</title>

        <!-- Css -->

        <link rel="stylesheet" href="/css/all.min.css">

        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand">Dashboard</a>
                <a class="nav-link btn-add" href="/add">Add Movie</a>
            </div>
        </nav>

        <div class="container mt-4">
            <h2 class="text-center">Movie Dashboard</h2>
            <div class="row mt-4">
                <% movieData.map((movie, index) => { %>

                    <div class="col-md-4" key="<%= index + 1 %>">
                        <div class="movie-card">
                            <div class="movie-header position-relative">
                                <div class="eye-icon">
                                    <a href="/singleMovie/<%= movie.id %>">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </div>
                                <div class="edit-icon">
                                    <a href="/movies/<%= movie.id %>">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                </div>
                                <div class="trash-bin">
                                    <a href="/deleteMovies/<%= movie.id %>">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </div>
                                <div class="header-img">
                                    <img src="<%= movie.moviePoster %>" height="200" class="w-100" alt="Movie Poster">
                                </div>
                                <div class="header-icon-container">
                                    <a href="#" class="header-icon">
                                        <i class="fa-solid fa-play" style="color: white;"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="movie-content">
                                <h3 class="movie-title"><%= movie.title %></h3>
                                <p class="mt-2"><%= movie.description %></p>
                                <div class="movie-info">
                                    <div class="info-section">
                                        <label class="d-block">Release Date</label>
                                        <span><%= new Date(movie.releaseDate).toLocaleDateString('en-IN') %></span>
                                    </div>
                                    <div class="info-section">
                                        <label class="d-block">Genre</label>
                                        <span><%= movie.genre %></span>
                                    </div>
                                    <div class="info-section">
                                        <label class="d-block">Rating</label>
                                        <span><%= movie.rating %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

    </body>
    </html>